<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="fetch_ros2_control">
        <ros2_control name="fetch_arm_ros2_control" type="system">
            <hardware>
            <!-- <plugin>mock_components/GenericSystem</plugin> -->
            <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
            <param name="joint_commands_topic">/fetch_robot/joint_commands</param>
            <param name="joint_states_topic">/fetch_robot/joint_states</param>
            <param name="sum_wrapped_joint_states">true</param>
            </hardware>
            <joint name="shoulder_pan_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                <param name="initial_value">-1.2</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="shoulder_lift_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                <param name="initial_value">1.51</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="upperarm_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                <param name="initial_value">0.35</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="elbow_flex_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                <param name="initial_value">1.81</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="forearm_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="wrist_flex_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                <param name="initial_value">1.47</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="wrist_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="torso_lift_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                <param name="initial_value">0.4</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="head_tilt_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="head_pan_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="l_gripper_finger_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="r_gripper_finger_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
        </ros2_control>

        <ros2_control name="fetch_base_ros2_control" type="system">
            <hardware>
            <!-- <plugin>mock_components/GenericSystem</plugin> -->
            <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
            <param name="joint_commands_topic">/fetch_robot/joint_commands</param>
            <param name="joint_states_topic">/fetch_robot/joint_states</param>
            <param name="sum_wrapped_joint_states">true</param>
            </hardware>
            <joint name="l_wheel_joint">
                <command_interface name="velocity"/>
                <state_interface name="position">
                <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="l_front_support_wheel_joint">
                <command_interface name="velocity"/>
                <state_interface name="position">
                <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="l_back_support_wheel_joint">
                <command_interface name="velocity"/>
                <state_interface name="position">
                <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="r_wheel_joint">
                <command_interface name="velocity"/>
                <state_interface name="position">
                <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="r_front_support_wheel_joint">
                <command_interface name="velocity"/>
                <state_interface name="position">
                <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="r_back_support_wheel_joint">
                <command_interface name="velocity"/>
                <state_interface name="position">
                <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>