<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fetch">
    <xacro:arg name="use_fake_controller" default="false"/>

    <!-- Import fetch urdf file -->
    <xacro:include filename="fetch.urdf" />
    
    <xacro:if value="$(arg use_fake_controller)">
        <!-- Import control_xacro -->
        <xacro:include filename="fetch.ros2_control_fake.xacro" />
        <!-- Add ros2_control to the robot -->
        <xacro:fetch_ros2_control/>
    </xacro:if>

    <xacro:unless value="$(arg use_fake_controller)"> 
        <!-- Import control_xacro -->
        <xacro:include filename="fetch.ros2_control.xacro" />
        <!-- Add ros2_control to the robot -->
        <xacro:fetch_ros2_control/>
    </xacro:unless>

    <virtual_joint name="world_joint" type="fixed" parent_frame="world" child_link="base_link" />

</robot>